body> .container-fluid .row .col-sm-3 img {
	float: left;
	background-size: contain;
}
body> .container-fluid .row .col-sm-6 h1 {
	position: relative;
	top: 10px;
	left: 60px;
}

body {
	padding-top: 20px;
    padding-bottom: 20px;
}

.vcenter {
    text-align: center;
    vertical-align: middle;
}

input::-webkit-input-placeholder {
	font-weight:bold;
	text-align:right;
}
input:-moz-placeholder {
	font-weight:bold;
	text-align:right;
}
input:-ms-input-placeholder {
	font-weight:bold;
	text-align:right;
}
