body {
	padding-top: 20px;
  padding-bottom: 20px;
}
body> .container-fluid .row .col-sm-4 img {
	float: left;
	background-size: contain;
}
body> .container-fluid .row .col-sm-4 h1 {
	position: relative;
  top: 10px;
}
.vcenter {
    text-align: center;
    vertical-align: middle;
}
input::-webkit-input-placeholder {
	font-weight:bold;
	text-align:right;
}
input:-moz-placeholder {
	font-weight:bold;
	text-align:right;
}
input:-ms-input-placeholder {
	font-weight:bold;
	text-align:right;
}
body> .container-fluid .col-sm-6 #exTab2 .nav-tabs li.active a{
    background-color: #ececec;
}
